@font-face {
  font-family: 'Baloo';
  src: local('Baloo'), local('Baloo-Regular'), url('./baloo-cyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Baloo';
  font-size: 24px;
  background-color: #fff;
  color: #32355d;
  line-height: 1.15;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-bottom: 2px dashed #0099ae;
  &__text {
      margin: 0px;
      padding: 5px 20px;
      background-color: #ffd86f;
      transform: rotateZ(-2deg) skewX(-8deg);
      font-size: 30px;
      box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.4);
      white-space: nowrap;
      &>a {
        color: #000;
        text-decoration: none;
      }
  }
}